@import "../base/fn";

.hub-discarded{
  .discarded-box{
    h2{
      font-weight: normal;
      font-size: 16px;
    }
  }
  .discarded-box-two{
    textarea{
      width: 100%;
      min-height: pxToRem(400);
      padding: 8px;
      border-radius: 3px;
      border-color: $borderColor;
      font-size: 14px;
      box-sizing: border-box;
    }
  }
  .discarded-box-three{
    margin: 0 auto;
    width: dpToRem(328);
    font-size: 14px;
    .btn-primary{
      margin-top: dpToRem(36);
    }
  }
}