// color
$mainColor: #4d8bd7;
$placeholderColor: #b6b6b6;

// font color
$secondaryFontColor: #fff;

// background color
$mainBackgroundColor: #eeeeee;
$secondaryBackgroundColor: #fff;

// border color
$borderColor: #dddddd;

// panelWidth
$secondaryPanelWidth: dpToRem(226);

// space
$middleSpace: dpToRem(48);
