// color
$mainColor: #4d8bd7;
$placeholderColor: #b6b6b6;

// font color
$fontColor: #3c3c3c;
$secondaryFontColor: #fff;
$rareFontColor: #b6b6b6;

// background color
$mainBackgroundColor: #eeeeee;
$secondaryBackgroundColor: #fff;

// border color
$borderColor: #dddddd;

// panelWidth
$panelWidth: dpToRem(344);
$secondaryPanelWidth: dpToRem(226);

// space
$minSpace: dpToRem(8);
$middleSpace: dpToRem(48);
