@import "../../base/fn";

.icon{
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 250px 250px;
}

.icon-checked{
  width: 24px;
  height: 20px;
  background-position: -21px -115px;
}

.icon-return{
  width: 15px;
  height: 24px;
  background-position: -25px -148px;
}

.icon-favorite{
  width: 24px;
  height: 24px;
  background-position: -21px -52px;
  &.active{
    background-position:  -21px -19px;
  }
}

.icon-location{
  width: 19px;
  height: 24px;
  background-position: -23px -184px;
}