@import "../../base/fn";

// logo
.logo{
  width: pxToRem(460);
  >img{
    width: 100%;
  }
}
// panel
.panel{
  width: $panelWidth;
  margin: 0 auto;
}
.panel--sec{
  width: $secondaryPanelWidth;
  margin: 0 auto;
  margin-top: $middleSpace;
}
.panel--local{
  background-color: $secondaryBackgroundColor;
  padding: pxToRem(55) pxToRem(28);
  font-size: 14px;
  line-height: 2;
}
.panel--local-two{
  background-color: $secondaryBackgroundColor;
  padding: dpToRem(16);
  font-size: 14px;
  color: $fontColor;
}

// form
.form-input{
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  //line-height: dpToRem(16);
}

.form-radio{
  height: pxToRem(60);
  margin-left: pxToRem(70);
  position: relative;
  line-height: pxToRem(60);
  input[type="radio"]{
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .icon{
    vertical-align: text-bottom;
  }
  .radio-text{
    display: inline-block;
    vertical-align: middle;
    color: $placeholderColor;
  }
  input[type="radio"]:checked + .icon{
    background-position: -21px -85px;;
  }
}

.form-file{
  position: relative;
  color: $mainColor;
  input[type="file"]{
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

.form-file-preview{
  width: dpToRem(178);
  height: dpToRem(106);
  position: absolute;
  top: dpToRem(24);
  right: 0;
  text-align: center;
  overflow: hidden;
  img{
    width: 100%;
    max-height: 100%;
  }
}

.form-box{
  box-sizing: border-box;
  width: 100%;
  padding: dpToRem(24) dpToRem(4) dpToRem(8);
  position: relative;
  font-size: 16px;
  &:after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    font-size: 0;
    border-bottom: 2px solid $borderColor;
    color: $borderColor;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .form-label{
    color: $placeholderColor;
  }
}
.form-box--radio{
  @extend .form-box;
  .form-radio{
    float: right;
  }
}

.form-box--file{
  @extend .form-box;
  .form-file{
    float: right;
  }
  .form-file-preview{
    display: none;
  }
  &.active{
    padding-bottom: 2.5rem;
    .form-file{
      display: none;
    }
    .form-file-preview{
      display: block;
    }
    &:after{
      content: normal;
    }
  }
}

// button
%btn{
  width: 100%;
  display: block;
  background-color: $mainColor;
  color: $secondaryFontColor;
  text-align: center;
  border-radius: 3px;
}

.btn-primary{
  @extend %btn;
  height: dpToRem(44);
  line-height: dpToRem(44);
  font-size: 14px;
}

// nav
.nav--link{
  height: dpToRem(70);
  position: relative;
  background-color: $secondaryBackgroundColor;
  background-image: url("../images/gap.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1px 27px;
  > div{
    text-align: center;
    flex: 1;
    font-size: 16px;
  }
}


// margin
.m-t-min{
  margin-top: $minSpace !important;
}

.m-t-middle{
  margin-top: pxToRem(100) !important;
}

// title-bar
.title-bar{
  height: dpToRem(42);
  padding: 0 dpToRem(4);
  position: relative;
  line-height: dpToRem(42);
  font-size: 16px;
  color: $fontColor;
  .bar-link{
    font-size: 12px;
    position: absolute;
    right: dpToRem(4);
  }
}

.title-bar--strengthen{
  @extend .title-bar;
  padding-left: pxToRem(35);
  color: $mainColor;
  position: relative;
  &:before{
    content: "";
    width: pxToRem(8);
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    background-color: $mainColor;
  }
  .bar-link{
    color: $rareFontColor;
  }
}

// list
.list{
  width: $panelWidth;
  //justify-content: space-between;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
  .list-item:nth-child(odd){
    margin-right: dpToRem(4);
  }
  .list-item{
    margin-bottom: $minSpace;
    width: dpToRem(168);
    float: left;
    position: relative;
    //flex-basis: dpToRem(168);
    //flex-shrink: 0;
    //flex-grow: 0;
    background-color: $secondaryBackgroundColor;
    .item-bd{
      padding: dpToRem(12) dpToRem(8);
    }
    .item-image{
      width: 100%;
      height: dpToRem(126);
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .item-title{
      min-height: 44px;
      font-size: 16px;
      line-height: 1.4;
      color: $fontColor;
      font-weight: normal;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .item-sub-title{
      margin-top: pxToRem(34);
    }
    .item-sub-title,.item-remark{
      font-size: 14px;
      color: $rareFontColor;
    }
    .icon-favorite{
      position: absolute;
      right: dpToRem(16);
      bottom: dpToRem(20);
    }
  }
}

// link
.link-tel,.link-mail{
  color: $mainColor;
  text-decoration: underline;
}

// font
.font-light{
  color: $rareFontColor;
}

// media box
.media-box{
  width: 100%;
  padding: dpToRem(8);
  background-color: $secondaryBackgroundColor;
  position: relative;
  min-height: dpToRem(100);
  box-sizing: border-box;
  .box-image{
    width: dpToRem(134);
    height: dpToRem(100);
    position: absolute;
    top: dpToRem(8);
    left: dpToRem(8);
    line-height: dpToRem(100);
    text-align: center;
    img{
      width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .box-right{
    position: relative;
    margin-left: dpToRem(144);
    min-height: dpToRem(100);
    .icon-favorite{
      position: absolute;
      right: dpToRem(16);
      bottom: dpToRem(10);
    }
    .box-remark{
      position: absolute;
      bottom: dpToRem(1);
    }

  }
  .box-title{
    font-size: 16px;
    font-weight: normal;
    color: $fontColor;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.link-item{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: pxToRem(140);
  padding-left: pxToRem(24);
  position: relative;
  font-size: 16px;
  line-height: pxToRem(140);
  color: $fontColor;
  background-color: $secondaryBackgroundColor;
  .icon{
    margin:0 pxToRem(60) 0 pxToRem(24);
  }
}

.link-item-group{
  .link-item{
    &:after{
      content: " ";
      position: absolute;
      left: pxToRem(24);
      bottom: 0;
      width: 100%;
      height: 1px;
      font-size: 0;
      border-bottom: 2px solid $borderColor;
      color: $borderColor;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  .link-item:last-child{
    &:after{
      display: none;
    }
  }
}